html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

 body {
	--color-bg: #fff;
	font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px; 
  --color-texto: #000066;
  --color-desc: #444;
}
.english #spanish {
	display: none;
}

#english {
	display: none;
}

.english #english {
	display:block ;
}
.dark-mode {
	background: #181818 !important;
	--color-texto: coral;
	--color-desc:#dedede;
}

.clear {clear: both;}

p {
	font-size: 0.8em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: var(--color-desc);
}


article p{
	font-family: 'Source Code Pro', monospace;
}
#cv {
	width: 90%;
	max-width: 800px;
	/* background: #fff; */
	margin: 30px auto;
}

.btn-primary {
	border-radius: 4px !important;
	background-color: #000066 !important;
	width: 100% !important;
	font-weight: 700;
}

.dark-mode button {
	background-color: coral !important;
	color: #181818 !important;
}
.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid var(--color-texto);

}

.left {
	float: left;
}

#name h1 {
	font-size: 1.8em;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
	margin-bottom: -6px;
	text-transform: uppercase;
	color:var(--color-texto);
}

#name h2 {
	font-size: 1.2em;
	margin-left: 2px;
	font-family: 'Oswald', sans-serif;
}
.dark-mode h2{
	color: var(--color-desc);
}

#mainArea {
	padding: 0 40px;
}
span {
	color: var(--color-texto);
}

#headshot {
	width: 14.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.dark-mode img {
	box-shadow: 0px 0px 5px coral;
}

#name {
	float: left;
}

.jobs{
	align-content: center;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: var(--color-desc);
}

.dark-mode a, a[href^=tel]{
	color:coral
}
.dark-mode ul li{
	color: var(--color-desc);
}

#contactDetails ul li a, a[href^=tel] {
	color: var(--color-desc);
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}


#contactDetails ul li {
	color: var(--color-desc);
}


#contactDetails a, a[href] {
	color: var(--color-desc);
	}

.dark-mode #contactDetails a, a[href] {
	color: var(--color-desc);
	}


#contactDetails ul li a:hover {
	color: var(--color-texto);
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	color: var(--color-texto);
}

.sectionContent h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 1.1em;
	font-weight: 700;
}
.sectionContent h2 span {
	font-style: italic;
	font-size: 15px;
}

.subDetails {
	font-size: 0.7em;
	color: var(--color-desc);
	font-family: 'Source Code Pro', monospace;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.dark-mode #subDetails{
	color:#bdbaba
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	font-weight: 500;
}
#keyskills{
	color: var(--color-desc); 
}v

.dark-mode #keyskills{
	color: var(--color-desc);
}

.keySkills ul li {
	margin-bottom: 3px;
}


@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}

	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}

	#headshot {
		display: none;
	}

	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}

	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
	}

	#mainArea {
		padding: 0 25px;
	}


	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}

	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
	background-color: var(--color-bg);
	color: var(--color-texto) !important;
	border-color: var(--color-texto) !important;
	visibility: hidden;
	

}




html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: var(--color-bg);
    padding: 15px;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

.box-1,.box-2,.box-3,.box-4,.box-5{
  color: white;
  font-size: 1.12em;
  /*display:  inline-block;*/
}
.box-1,.box-5{padding: 26px;text-align: center;}
@media (max-width: 600px){
  .col-5{
    width: 2%;
  }
}

@media print {
    #cv {
        width: 100%;
    }
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}

.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}